# ===== App / API =====
NODE_ENV=development
API_PORT=3000
TZ=Asia/Bangkok

# ===== DB connection for NestJS (app.module.ts) =====
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=root
DB_DATABASE=fptu_dpc2_db

# ===== Postgres Container Init (docker-compose uses DB_* above) =====
# (Không bắt buộc, nhưng giữ để bạn đọc dễ hiểu / dùng nơi khác)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=fptu_dpc2_db
POSTGRES_PORT=5432

# ===== pgAdmin =====
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

AWS_REGION=ap-southeast-2   

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_S3_PUBLIC_BASE_URL=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=123456

OPENAI_API_KEY=
EMBEDDING_MODEL=
OPENAI_MODEL=

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=supersecretpassword

MINIO_SERVER_URL=http://localhost:9000
MINIO_BROWSER_REDIRECT_URL=http://localhost:9001

MINIO_LOG_LEVEL=info